# Created by .ignore support plugin (hsz.mobi)
### Maven template
.idea
*.iml
target/
.DS_Store

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

axacarebackend/src/main/resources/static/
axacarebackend/src/main/resources/templates/
axacareweb/src/test/
