<nav class="navbar fixed-top navbar-light bg-primary text-center">
  <ul class="navbar-nav mr-auto pull-left">
    <li class="nav-item text-light">
      <button type="button" class="nav-link text-light" routerLink="/patient"><i class="fa fa-angle-left"></i> Dashboard
      </button>
    </li>
  </ul>
  <a class="navbar-brand text-light" routerLink="/patient">AXA<span class="font-italic font-weight-bold">care</span></a>
</nav>

<div class="container">



  <div class="row">
    
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <img class="d-inline rounded-circle" style="height:100%;width:auto;" src="https://via.placeholder.com/150x150">
    </div>
  </div>

  <div class="row">
    <span class="d-inline mr-2">Username:</span>
    <span class="d-inline">{{user.username}}</span>
  </div>

  <div class="row">
    <span class="d-inline mr-2">Firstname:</span>
    <span class="d-inline">{{user.firstName}}</span>
  </div>

  <div class="row">
    <span class="d-inline mr-2">Lastname:</span>
    <span class="d-inline">{{user.lastName}}</span>
  </div>

</div>
