<nav class="navbar fixed-top navbar-light bg-primary text-center">
  <ul class="navbar-nav mr-auto pull-left">
    <li class="nav-item text-light">
      <button type="button" class="nav-link text-light" routerLink="/patient"><i class="fa fa-angle-left"></i> Dashboard
      </button>
    </li>
  </ul>
  <a class="navbar-brand text-light" routerLink="/patient">AXA<span class="font-italic font-weight-bold">care</span></a>
</nav>



<div class="container">

  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let prescription of prescriptions; let i = index" [routerLink]="['/patientprescriptiondetail', prescription.prescriptionId]">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">Dr. {{prescription.prescriptionDoctor}}</h6>
        <small>{{prescription.prescriptionDate}}</small>
      </div>
      <p class="mb-1">{{prescription.prescriptionItems.length}}</p>
    </a>
  </div>
</div>
