<nav class="navbar fixed-top navbar-light bg-primary text-center">
  <ul class="navbar-nav mr-auto pull-left">
    <li class="nav-item text-light">
      <button type="button" class="nav-link text-light" routerLink="/patientprescriptions"><i class="fa fa-angle-left"></i> My
        prescriptions
      </button>
    </li>
  </ul>
  <a class="navbar-brand text-light" routerLink="/patient">axacare</a>
</nav>

<div class="container-fluid">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Dr. {{prescription.prescriptionDoctor}} <i class="fa fa-handshake-o pull-right text-success"></i></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{prescription.prescriptionDate}}</h6>
      <table class="table table-responsive table-sm">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Dosage</th>
          <th scope="col">Days</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of prescription.prescriptionItems; let i = index">
          <th scope="row">{{item.prescriptionItemId}}</th>
          <td>{{item.prescriptionItemName}}</td>
          <td>{{item.prescriptionItemDosage}}</td>
          <td>{{item.prescriptionItemDays}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
