<nav class="navbar fixed-top navbar-light bg-primary text-center">
  <ul class="navbar-nav mr-auto pull-left">
    <li class="nav-item text-light">
      <button type="button" class="nav-link text-light" routerLink="/patient"><i class="fa fa-angle-left"></i> Dashboard
      </button>
    </li>
  </ul>
  <a class="navbar-brand text-light" routerLink="/patient">axacare</a>
</nav>


<div class="container">

  <div class="list-group list-group-flush">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Create new case</h5>
      </div>

    <p class="mb-1">
      <small>Case name</small><br>
      <input type="text" />
    </p>
    <p class="mb-1">
      <small>Date</small><br>
      <input type="text" />
    </p>
    <p class="mb-1">
      <small>Comment</small><br>
      <textarea ></textarea>
    </p>

  </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light text-center"  routerLink="/patientnewcase">
  <ul class="navbar-nav text-center">
    <li class="nav-item">
      <button type="button" class="nav-link text-center">
        Submit
      </button>
    </li>
  </ul>
</nav>
