<nav class="navbar fixed-top navbar-light bg-primary text-center">
  <ul class="navbar-nav mr-auto pull-left">
    <li class="nav-item text-light">
      <button type="button" class="nav-link text-light" routerLink="/patient"><i class="fa fa-angle-left"></i> Dashboard
      </button>
    </li>
  </ul>
  <a class="navbar-brand text-light" routerLink="/patient">AXA<span class="font-italic font-weight-bold">care</span></a>
</nav>


<div class="container">

  <div class="list-group list-group-flush">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Create new case</h5>
      </div>



    <div class="form-group">
      <label for="casename">Case name</label>
      <input type="text" class="form-control" id="casename">
    </div>

    <div class="form-group">
      <label for="casedate">Case name</label>
      <input type="text" class="form-control" id="casedate">
    </div>


    <div class="form-group">
      <label for="casecomment">Example textarea</label>
      <textarea class="form-control" id="casecomment" rows="3"></textarea>
    </div>


  </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light text-center"  routerLink="/patientnewcase">
  <ul class="navbar-nav text-center">
    <li class="nav-item">
      <button type="button" class="nav-link text-center">
        Submit
      </button>
    </li>
  </ul>
</nav>
