<nav class="navbar fixed-top navbar-light bg-primary text-center">
  <a class="navbar-brand text-light" routerLink="/doctor">AXA<span class="font-italic font-weight-bold">care</span></a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link text-light" routerLink="/login"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm d-flex">
      <div class="card">
        <div class="card-header">
          Patients
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>

      </div>
    </div>


    <div class="col-sm d-flex">
      <div class="card">
        <div class="card-header">
          Cases
        </div>
        <div class="card-body flex-fill">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>


    <div class="col-sm d-flex">
      <div class="card">
        <div class="card-header">
          Medication / Prescriptions
        </div>
        <div class="card-body flex-fill">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>



          <input type="text" #titleInput (keyup)="addTodo(titleInput.value)">


        </div>
      </div>
    </div>


  </div>
</div>
