<nav class="navbar fixed-top navbar-light bg-primary text-center">
  <a class="navbar-brand text-light" routerLink="/doctor">AXA<span class="font-italic font-weight-bold">care</span></a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link text-light" routerLink="/login"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm">
      <div class="card doctordashboardcards">
        <div class="card-header">
          Patients
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li [className]="actualPatient == patient.id ? 'list-group-item active' : 'list-group-item'" *ngFor="let patient of patients" (click)="choosePatient(patient.id)">
              <span><img [src]="'assets/' + patient.image" class="patientimg mr-2">{{patient.firstName}} {{patient.lastName}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card doctordashboardcards">
        <div class="card-header">
          Cases <button class="btn btn-sm btn-dark-outline pull-right clear-btn" (click)="resetActualPatient()">clear selection</button>
        </div>
        <div class="card-body flex-fill">
          <span *ngIf="actualPatient == null" class="noPatient">Please choose a Patient</span>
          <ul  *ngIf="actualPatient != null" class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let patient of patients" (click)="choosePatient(patient.id)"  >
              <span><img [src]="'assets/' + patient.image" class="patientimg mr-2">{{patient.firstName}} {{patient.lastName}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card doctordashboardcards">
        <div class="card-header">
          Medication / Prescriptions
        </div>
        <div class="card-body flex-fill">
          <div class="form-group">
            <label for="drugSearchInput">Search Drugs</label>
            <input type="text" class="form-control" id="drugSearchInput" #drugSearchInput
                   (keyup)="searchDrugs(drugSearchInput.value)">
            <small id="drugSearchHelp" class="form-text text-muted">Enter at least 3 Characters</small>
            <ul>
              <li *ngFor="let drug of drugs">{{drug.swissmedicIds[0]}} {{drug.title}}</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
